__pycache__
.dex
.claude-bkp

tmp

**/*.local*
.aop

node_modules
.DS_Store

.playwright-mcp
playwright-report
link-claude.sh

.worktrees/
.vscode/
.idea
.leo

openspec
aop/.claude/skills/openspec*
aop/.claude/commands/opsx*
