[submodule "external/superpowers"]
	path = external/superpowers
	url = https://github.com/obra/superpowers
[submodule "external/skills"]
	path = external/skills
	url = https://github.com/anthropics/skills
[submodule "external/claude-plugins-official"]
	path = external/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official
[submodule "external/everything-claude-code"]
	path = external/everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code
[submodule "external/OpenSpec"]
	path = external/OpenSpec
	url = https://github.com/Fission-AI/OpenSpec
[submodule "external/claude-code-viewer"]
	path = external/claude-code-viewer
	url = https://github.com/d-kimuson/claude-code-viewer
[submodule "external/marketingskills"]
	path = external/marketingskills
	url = https://github.com/coreyhaines31/marketingskills.git
[submodule "external/claude-bootstrap"]
	path = external/claude-bootstrap
	url = https://github.com/alinaqi/claude-bootstrap.git
